transformers
accelerate
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
gradio
protobuf
cpm_kernels
sentencepiece
sse-starlette
streamlit>=1.24.0
fastapi>=0.104.1
uvicorn~=0.24.0
loguru~=0.7.2
modelscope==1.9.5
openai
